	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/03/2017 08:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-signs:before { content: "\f100"; }
.flaticon-fashion:before { content: "\f101"; }
.flaticon-luxury:before { content: "\f102"; }
.flaticon-people-3:before { content: "\f103"; }
.flaticon-drink:before { content: "\f104"; }
.flaticon-people-2:before { content: "\f105"; }
.flaticon-people-1:before { content: "\f106"; }
.flaticon-people:before { content: "\f107"; }
.flaticon-marriage-couple:before { content: "\f108"; }
.flaticon-newly-married-couple:before { content: "\f109"; }
.flaticon-dinner:before { content: "\f10a"; }